:root {
  --color-black: #003;
  --color-white: #f9fafb;
  --color-gray: #ccc;
  --color-blue: #3b82f6;
  --color-light-coral: #feebeb;
  --color-coral: #fc8281;
  --color-dark-coral: #c53130;
  --color-light-teal: #daeeed;
  --color-teal: #6dbeb7;
  --color-dark-teal: #0d9488;
}

html {
  font-size: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family:
    Roboto, "Helvetica Neue", "Noto Sans JP", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

ul,
ol {
  padding: 0 0 0 1.75rem;
}

ol {
  list-style-type: decimal;
}

label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

a {
  color: var(--color-blue);
  text-decoration: underline;
}

.c-main {
  padding: 2rem;
}

.c-main * + * {
  margin: 1.5rem 0 0;
}

.c-map-container {
  width: 480px;
}

.c-favorite-url {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.c-favorite-url--label {
  font-weight: 800;
  margin: 1.5rem 0 0;
}

.c-favorite-url--input {
  width: 400px;
  padding: 0.625rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray);
  border-radius: 0.5rem;
  line-height: 1.25rem;
}

.c-url--input:focus {
  --tw-ring-color: var(--color-blue);
  border-color: var(--color-blue);
}

.c-copy--button {
  padding: 0.625rem 1.25rem;
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: var(--color-dark-teal);
  border: 0;
  border-radius: 0.5rem;
}

.c-copy--button:hover {
  background-color: var(--color-dark-teal);
  filter: brightness(1.25);
}

.geolonia-svg-map .prefecture {
  cursor: pointer;
}
