:root {
  --color-black: #003;
  --color-white: #f9fafb;
  --color-gray: #ccc;
  --color-blue: #3b82f6;
  --color-light-coral: #feebeb;
  --color-coral: #fc8281;
  --color-dark-coral: #c53130;
  --color-light-teal: #daeeed;
  --color-teal: #6dbeb7;
  --color-dark-teal: #0d9488;
}

html {
  font-size: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: Roboto, "Helvetica Neue", "Noto Sans JP",
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

ul,
ol {
  padding: 0 0 0 1.75rem;
}

ol {
  list-style-type: decimal;
}

label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

a {
  color: var(--color-blue);
  text-decoration: underline;
}

.c-main {
  padding: 2rem;
}

.c-main * + * {
  margin: 1.5rem 0 0;
}
